<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />


</head>

<body>

    <header>
        <h1>Crawler de leilões de imóvel</h1>
    </header>
    <main>


        <!-- aqui inicio com um if, para checar se foi possível puxar a informação de sequer um imóvel através
        do método Crawler.crawl() -->
        {% if list_of_leiloes|length < 1 %}
        <p class="no-tasks-warning">não há imóveis</p>

        {% else %}
        <div class="container">

            <!-- também feito depois de consultar meus outros projetos com flask,
            iniciei um loop por todos os imóveis, para que fossem colcoados dentro de uma div
            e todas  essas divs e envoltas em um grid -->
            <div class="grid-imoveis">
                {% for imovel in list_of_leiloes %}
                <div class="unique-imovel">
                    <div class="card-imovel">
                        <p><span class="highlight">Tipo:</span> {{imovel.tipos}}</p>
                        <p><span class="highlight">Cidade:</span> {{imovel.city}}</p>
                        <p><span class="highlight">Bairro:</span> {{imovel.bairro}}</p>
                        <p><span class="highlight">Endereço:</span> {{imovel.endereco}}</p>
                        <p><span class="highlight">Valor:</span> R$ {{imovel.valor}}</p>
                        <button id='saiba-mais-{{imovel.id}}' class="saiba-mais">saiba mais</button>

                    </div>

                    <!-- aqui, por uma dificuldade, entendi que o melhor caminho seria colocar todas as informaçẽos
                        no html para que pudesse acessá-las via javascript
                        a dificuldade foi entender se/como comunicar direto entre javascript com o  cliente e 
                        python no servidor.
                        mais detalhes explicados no index.js-->

                    <div id="modal-{{imovel.id}}" class="modal hide">
                        <p class="link-information" style="display: none;">{{imovel.links}}</p>

                        <p>{{imovel.descricao}} </p><br> <br>
                    </div>





                </div>

                {% endfor %}
                <span class="modal-btn hide">fechar</span>
            </div>

        </div>
        {% endif%}

    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>